@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Red Hat Text', sans-serif !important;
    font-weight: 400;

}
.navbar-style {
    font-family: 'Red Hat Text', sans-serif !important;
    font-weight: 500;
    color: black !important;
    text-align: end;
}
@media (max-width: 990px) {
    .landing-page {
        margin-top: 15vh;
        justify-content: center;
    }
    .landing-art {
        position: relative;
    }
    .profile-text {
        width: 100%;
        height: auto;
    }
}
@media (min-width: 990px) {
    .landing-page {
        margin-top: 30vh;
        justify-content: center;
    }
    .landing-art {
        position: relative; top: -10vh; left: 30vw;
    }
    .profile-text {
        width: 50%;
        height: auto;
    }
}

.title-page {
    display: flex;
    justify-content: center;
    text-align: center;
}
.caption-page {
    margin-top: 3vh;
    display: block;
    margin-bottom: 30vh;
    text-align: center;
}
.img-hover-zoom {
    margin-top: 10vh; margin-bottom: 10vh;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}
  
.img-hover-zoom:hover img {
    transform: scale(1.05);
}
.img-fix {
    width: auto;
    height: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
}
.email-fix {
    width: auto;
    height: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
}
.img-fix:hover {
    width: auto;
    height: 4vh;
    margin-left: 3vw;
    margin-right: 3vw;
    background-color: #D9E1FF;
}
.email-fix:hover {
    width: auto;
    height: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    background-color: #D9E1FF;
}

.current{
    color: #4259A8;
    text-decoration: underline;
}
a {
    color: #4259A8;
}
a:hover {
    text-decoration: underline;
    color: #4259A8;

}